@import 'src/scss/variables';
@import 'src/scss/mixins';

.all-albums {
    @include container;
}

.album {
    @include item;
    position: relative;
}

.album-title {
    @include title;
    -webkit-line-clamp: 3;
}

.image-wrapper {
    display: flex;
    justify-content: center;

    img {
        @include image; 
    }
}

.album-user-name {
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 15px;
    bottom: 15px;
}
